/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #000;
    color: #00ff41;
    transition: background 0.3s, color 0.3s;
}

/* CENTERED BIG LOGO */
.logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0;
}

.logo img {
    height: 55px;
    width: auto;
    filter: drop-shadow(0 0 4px #ffcc00);
}

/* HEADER */
header {
    background: #000;
    color: #00ff41;
    padding: 4rem 0 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #00ff41;
}

/* NAVIGATION */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav li {
    margin: 0 2rem;
}

nav a {
    color: #00ff41;
    text-decoration: none;
    font-weight: 700